:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
}

body {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*==============COMPONENTS==============*/
.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.logo-blue {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-right: 50px;
}

.menu-item :hover,
.menu-item :focus {
  color: var(--accent-color);
}

.menu .menu-item .current {
  color: #188ce8;
}
.header-adress {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tel {
  margin-left: 50px;
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  text-align: center;
  align-items: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-top: 200px;
  padding-bottom: 30px;
}

.main-title-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  margin-bottom: 200px;
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #188ce8;
  color: var(--title-text-color);
}
.subtitle {
  display: flex;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 95px;
}
.subtitle-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.subt-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.benefits {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.benefits-descrt,
.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.benefits-list,
.team-item {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 94px;
}

.title-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 94px;
  margin-bottom: 50px;
}

.subt-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-profession {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer {
  background-color: #2f303a;
}
.logo-word {
  padding-top: 60px;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.adress-list {
  margin-top: 20px;
  padding-bottom: 60px;
}
.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*======Cтили для портфолио=====*/

.all-link-text {
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 34px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.all-link-text {
  display: flex;
}

.link-text:not(:last-child) {
  margin-right: 8px;
}
.all-link-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}
.link-img {
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer-space {
  margin-top: 94px;
}
