:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
}

body {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-blue {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-item :hover,
.menu-item :focus {
  color: var(--accent-color);
}

.menu .menu-item .current {
  color: #188ce8;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 13.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
  background-color: #2f303a;
}

.main-title-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #188ce8;
  color: var(--title-text-color);
}

.subtitle-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.subt-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.benefits,
.title-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.subt-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-profession {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*======Cтили для портфолио=====*/
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.portfolio-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
